/build*

/external

# clangd
.cache

# Vim swp files
*.swp

/database

/webui/dist

/webui/public/avatars/*
!/webui/public/avatars/index.html

/webui/public/download/*
!/webui/public/download/index.html

.gdb_history

node_modules

re_trace.json
